/* * {
    border: 1px solid white;
} */

.container {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.page-content {
    display: flex;
    gap: 0.5em;
    padding: 0.5em;
    width: 100%;
    height: 100%;
}

.box-gray {
    background-color: #121212;
    padding: 0.75em 1.5em;
    border-radius: 0.5em;
}

.sidebar {
    width: 26.25em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    color: #a7a7a7;
}

.sidebar-links {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5em;
    height: 7em;
}

.library-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.5em 1em;
}

.library-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.library-header-icon-group {
    display: flex;
    padding: 0.5em 1em;
    gap: 0.5em;
}

.library-content {
    background-color: #242424;
    color: #fff;
    border-radius: 0.5em;
    padding: 1em 1em;
    margin-top: 1em;
}

.library-content > p {
    margin-bottom: 1.25em;
}

.library-footer {
    margin-top: 1em;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    padding: 1em;
}

.btn.footer {
    width: fit-content;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.btn {
    padding: 0.5em 1em;
    /* background-color: #fff; */
    border-radius: 1em;
    /* color: #000; */
}

.home, .search {
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.main-page {
    flex-grow: 1;
    background-image: linear-gradient(#242424,#000000);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -0.75em -1.5em;
    padding: 1em 1.5em;
    background-color: rgba(0, 0, 0, 0.4);
}

.btn.nav {
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    background-color: #000;
    color: #a7a7a7;
    border: none;
    border-radius: 100%;
}

.btn.sign-up, .btn.login {
    width: 7em;
    border: none;
}

.btn.sign-up {
    background-color: transparent;
    color: #a7a7a7;
}

.categories {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
}

.cards {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.card {
    background-color: #181818;
    border-radius: 0.3em;
    width: 12em;
    height: 17.6em;
    padding: 1em;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5em;
}

.card-img {
    flex-grow: 1;
    border: 1px solid white;
    border-radius: 0.3em;
    text-align: center;
}

.card-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.page-footer {
    background-image: linear-gradient(90deg,#af2896,#509bf5);
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 1em;
    margin: 0em 0.5em 0.5em 0.5em;
}

.page-footer.text {
    color: #fff;
}

.page-footer > button {
    border: none;
}

button:hover {
    cursor: pointer;
}